
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ShopWatchContext shop = new ShopWatchContext();
}

@using WebMVCWatchOnline.Models.Entities
@model List<WebMVCWatchOnline.Models.Entities.ProductCategory>
<!--banner-ends-->
<!--Slider-Starts-Here-->
<!--End-slider-script-->
<!--about-starts-->


@section Greedy
{
    @if (Session["Id"] != null)
    {
        <marquee behavior="scroll" direction="right" style="font-size: 30px; color: crimson; font-weight: bold">Xin chào @Session["Name"]!!!</marquee>
    }
}

@section Logger{
@if (Session["Id"] == null)
{
    <div class="cart box_1">
        <a href="/Admin1/LogIn">

            <img src="/images/login.png" alt="" />
        </a>
        <p><a href="/Admin1/LogIn" class="simpleCart_empty">Đăng nhập</a></p>
        <p><a href="/Dangki/Index" class="simpleCart_empty">Đăng kí</a></p>

        <div class="clearfix"> </div>
    </div>
    <div class="cart box_1">
        <a href="/Cart/Index">
            @*<div class="total">
                        <span class="simpleCart_total"></span>
                    </div>*@
            <img src="/images/online-shopping-cart.png" alt="" />
        </a>
        <p>
            <a href="/Cart/Index" class="simpleCart_empty">Giỏ hàng</a>
        </p>
        <div class="clearfix"> </div>
    </div>
}
else
{
    <div class="cart box_1">
        <a href="/Admin1/LogIn">
            <img src="/images/login.png" alt="" />
        </a>
        <p></p>
        <p><a href="/Home/Logout/" class="simpleCart_empty">Đăng xuất</a></p>
        <div class="clearfix"> </div>
    </div>
    <div class="cart box_1">
        <a href="/Cart/Index">
            @*<div class="total">
                        <span class="simpleCart_total"></span>
                    </div>*@
            <img src="/images/online-shopping-cart.png" alt="" />
        </a>
        <p>
            <a href="/Cart/Index" class="simpleCart_empty">Giỏ hàng</a>
        </p>
        <div class="clearfix"> </div>
    </div>
}}

<div class="about">
    <div class="container">

        <div class="about-top grid-1">
            <div class="col-md-4 about-left">
                <figure class="effect-bubba">
                    <img class="img-responsive" src="~/images/abt-1.jpg" alt="" />
                    <figcaption>
                        <h2>Đồng hồ Thụy Sĩ</h2>
                        <p>Sang trọng - Quý phái</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 about-left">
                <figure class="effect-bubba">
                    <img class="img-responsive" src="~/images/abt-2.jpg" alt="" />
                    <figcaption>
                        <h4>Đồng hồ Rolex</h4>
                        <p>Mạnh mẽ - Sang trọng</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 about-left">
                <figure class="effect-bubba">
                    <img class="img-responsive" src="~/images/abt-3.jpg" alt="" />
                    <figcaption>
                        <h4>Đồng hồ Titan</h4>
                        <p>Phong cách - Thời trang</p>
                    </figcaption>
                </figure>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--about-end-->
<!--product-starts-->

<div class="product">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ">

                @foreach (var item in Model)
                {
                    var dsSanPham = shop.Products.Where(s => s.CategoryID == item.CategoryID);
                    <div class="content-panel-title">
                        <a href="/Home/CategoryDetail/@item.CategoryID" class="right">Xem thêm</a>
                        <h2>@item.Name </h2>
                    </div>
                    <div class="product-top" style="margin-bottom: 20px">
                        <div class="product-one">
                            @foreach (var sp in dsSanPham.ToList().Skip(0).Take(3))
                            {
                                <div class="col-md-4 product-left p-left">
                                    <div class="product-main simpleCart_shelfItem">
                                        <a href="/Home/ProductDetail/@sp.ProductID" class="mask"><img class="img-responsive-2 zoom-img" src="@sp.ProductImage" alt="" /></a>
                                        <div class="product-bottom">
                                            <h3>@sp.ProductName</h3>
                                            <h4><a class="item_add" href="javascript:;" onclick="AddToCart(@sp.ProductID)"><i></i></a> <span class="item_price">@double.Parse(sp.Price.ToString()).ToString("##,###") VNĐ</span></h4>
                                        </div>
                                    </div>
                                </div>
                            }


                            <div class="clearfix"></div>
                        </div>

                    </div>

                }
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 ">
                <aside class="sidebar">
                    <div class="search-bar">
                        <form action="/Home/TimKiem" method="GET">
                            <h3>

                                <input type="text" name="search" value="Tìm kiếm" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tìm kiếm';}">
                                <select id ="listSearch"name="type">
                                    <option value="1">Hãng</option>
                                    <option value="2">Tên</option>
                                    <option value="3">Giá</option>
                                </select>
                                <input type="submit" value="">
                            </h3>
                        </form>
                    </div>
                    @* @Html.Partial("NewsFeed") *@

                </aside>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    function AddToCart(masp) {

        $.ajax({
            url: '/Cart/AddToCart/?id=' + ProductId + ' Quantity =' + 1 + '',
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                var json = JSON.parse(data);
                alert(json);
                window.location.reload();
            },
            error: function (err) {
                alert("Đã xảy ra lỗi"+err.responseText);
            }
        });
    };
</script>
<style>
#listSearch{
    width : 200px;
    font-size:15px;
}
</style>